<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Admin Dashboard</title>

  <!-- Montserrat Font -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/dash.css' %}">
</head>

<body>
  <div class="grid-container">

    <!-- Header -->
    <header class="header">
      <div class="menu-icon" onclick="openSidebar()">
        <span class="material-icons-outlined">menu</span>
      </div>
      <div class="header-left">
        {% if request.session.name %}
        <p class="welcome-message">Welcome, {{ request.session.name }}</p>
      {% endif %}
      </div>
      <div class="header-right">

        <span class="material-icons-outlined">account_circle</span>
      </div>
    </header>
    <!-- End Header -->

    <!-- Sidebar -->
    <aside id="sidebar">
      <div class="sidebar-title">
        <div class="sidebar-brand">
          <div class="head">
            <img src="{% static 'images/logo.png' %}" alt="Image">

          </div>
          <div class="head">
            <h1>AQUM</h1>
          </div>
          
        </div>
        <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
      </div>

      <ul class="sidebar-list">
        <li class="sidebar-list-item">
          <a href="#" target="_blank"   onclick="location.href='{% url 'dashboard' %} '""">
            <span class="material-icons-outlined">dashboard</span> Dashboard
          </a>
        </li>
        
        <li class="sidebar-list-item">
          <a href="#" target="_blank">
            <span class="fas fa-cloud"></span> Air quality index
          </a>
        </li>
        <li class="sidebar-list-item">
          <a href="#" target="_blank" onclick="location.href='{% url 'Notification-Center' %} '""">
            <span class="fas fa-bell"></span> Alerts
          </a>
        </li>
        
        <li class="sidebar-list-item" >
          <a href="{% url 'logout' %}"  >
            <span class="fas fa-cog"></span> Logout
          </a>
        </li>
      </ul>
    </aside>
    <!-- End Sidebar -->


  </div>

  <!-- Scripts -->
  <!-- ApexCharts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
  <!-- Custom JS -->
  <script src="js/scripts.js"></script>
</body>

</html>