<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">

  <title>Smart Indoor AIr Quality Monitoring System</title>
</head>

<body>
  <nav class="navbar">
    <div class="logo">
      <img src={% static 'images/logo.png' %} onclick="gotohome()" alt="Logo">
      <script>
        function gotohome() {
          window.location.href = "index.html"
        }
      </script>
    </div>
    <div class="menu">
      <a href="#" onclick="gotohome()">Home</a>
      <script>
        function gotohome() {
          window.location.href = "index.html"
        }
      </script>
      <a href="#">Features</a>
      <a href="#">Benefits</a>
      <a href="#">Contact Us</a>
    </div>
    <div>
      <button class="login-btn" onclick="location.href='{% url 'signin' %} '"">Login</button>
      <script>
        function gotologin() {
          window.location.href = "login.html"
        }
      </script>
      <button class="register-btn" onclick="location.href='{% url 'signup' %} '"">Register</button>
      <script>
        function gotoregister() {
          window.location.href = "SignUp.html"
        }
      </script>
    </div>
  </nav>
  <section>
    <div class="first" id="uppersection">
      <div class="rectangle">
        <h1 id="indoor"> Smart Indoor Air Quality Monitring System</h1>
      </div>
      <dive class="quote">
        <h2>Let's Stop Air Pollution Before It Stops Our Breathing</h2>
      </dive>

    </div>
  </section>
  <section class="features" id="features">
    <h2> Features of Indoor Air Quality Monitoring System</h2>
    <div class="container">

      <div class="left-container">

        <ul>
          <li>
            <i class="fa fa-check" style="font-size:24px"></i>
            <span>Sensors for temperature, humidity, CO2, VOCs, and PM</span>
          </li>
          <li>
            <i class="fa fa-check" style="font-size:24px"></i>
            <span>Easy-to-read display with real-time readings</span>
          </li>
          <li>
            <i class="fa fa-check" style="font-size:24px"></i>
            <span>Alerts and alarms for hazardous air quality levels</span>
          </li>
          <li>
            <i class="fa fa-check" style="font-size:24px"></i>
            <span>Data storage and analysis for tracking trends</span>
          </li>
          <li>
            <i class="fa fa-check" style="font-size:24px"></i>
            <span>Remote access through web interface or mobile app</span>
          </li>
          <li>
            <i class="fa fa-check" style="font-size:24px"></i>
            <span>Integration with other smart home devices</span>
          </li>
          <li>
            <i class="fa fa-check" style="font-size:24px"></i>
            <span>Easy to install and use</span>
          </li>
        </ul>
      </div>
      <div class="right-container">
        <img src="https://i-qlair.com/wp-content/uploads/2021/02/bilding2-768x537.png"
          alt="Building with air quality monitor">
      </div>
    </div>

  </section>
  <section>
    <div class="benfits">
      <h2>Benefits</h2>
    </div>

    <div class="card-grid">
      <div class="card-row">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1477332552946-cfb384aeaf1c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="Health">
          <div class="card-content">
            <h2>Improved Health</h2>

          </div>
        </div>
        <div class="card">
          <img
            src="https://media.istockphoto.com/id/1349143590/photo/old-senior-woman-sitting-at-home-on-armchair-using-digital-tablet-wearing-a-warm-sweater-and.jpg?s=612x612&w=is&k=20&c=JNrt3lWx0VMo_bdcouAKlxz_gOJ7UsenyqwDTaSHIZ4="
            alt="Comfort">
          <div class="card-content">
            <h2>Increased Comfort</h2>
          </div>
        </div>
        <div class="card">
          <img
            src="https://media.istockphoto.com/id/1387456926/photo/pregnant-couple-with-woman-with-prosthetic-arm-turning-down-heating-control-in-kitchen.jpg?s=612x612&w=is&k=20&c=o9MX4pac_Nst4nr3PTgYTwDCjMB8stxhHcbR6HM957s="
            alt="Energy">
          <div class="card-content">
            <h2>Energy Savings</h2>
          </div>
        </div>
      </div>
      <div class="card-row">
        <div class="card">
          <img
            src="https://media.istockphoto.com/id/1415971764/photo/air-pollution-weather-and-environment-issue-concept-woman-using-mobile-phone-to-check-air.jpg?s=612x612&w=0&k=20&c=9DcbDBpQbDSADFlplYPvTX09WC_7XxV-3goyy_wc0KI="
            alt="Safety">
          <div class="card-content">
            <h2>Enhanced Safety</h2>
          </div>
        </div>
        <div class="card">
          <img
            src="https://media.istockphoto.com/id/962717560/photo/paying-your-taxes.jpg?s=612x612&w=is&k=20&c=NdGY6NWeSBiq16jkgRtLv7a6Xes-5qicFUX0jzZF9jY="
            alt="Productivity">
          <div class="card-content">
            <h2>Increased Productivity</h2>
          </div>
        </div>
        <div class="card">
          <img
            src="https://media.istockphoto.com/id/1300340811/photo/content-woman-sitting-on-sofa-with-closed-eyes-breathing-air.jpg?s=612x612&w=0&k=20&c=X_DyxP4VJi0XJPzDSxlGjaDBIzKRCQDFc9wJM1p4F04="
            alt="Air Quality">
          <div class="card-content">
            <h2>Clean Air</h2>
          </div>
        </div>
      </div>
    </div>

  </section>
  <div class="form-container">
    <form action="" method="POST">
        {% csrf_token %}
      <h1>Contact Us</h1>
      <label for="name">Name:</label>
      <input type="text" id="name" required name="full-name">
      <label for="email">Email:</label>
      <input type="email" id="email" required name="email">
      <label for="subject">Subject:</label>
      <input type="text" id="subject" required name="subject">
      <label for="message">Message:</label>
      <textarea name="message" id="message" required></textarea>
      <button type="submit">Send</button>
    </form>
  </div>
  <footer>
    <div class="footer-container">
      <div class="footer-col">
        <h3>About Us</h3>
        <p>Indoor Air Quality Monitoring is dedicated to helping you improve the air you breathe. Our expert team and
          state-of-the-art technology provide reliable and accurate monitoring solutions. </p>
      </div>
      <div class="footer-col">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h3>Contact</h3>
        <ul>
          <li>143 Street G11/4</li>
          <li>Sher Khan Complex,</li>
          <li>03028932544</li>
          <li>info@indoorairquality.com</li>
        </ul>
      </div>
      <div class="footer-col social-media">
        <h3>Follow Us</h3>
        <ul>
          <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
          <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
          <li><a href="#"><i class="fa fa-instagram"></i> Instagram</a></li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <hr>
      <p>Copyright 2022 Indoor Air Quality. All Rights Reserved.</p>
    </div>
  </footer>

</body>

</html>