body {
    padding: 0%;
    margin: 0%;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(8, 73, 65);
    color: #fff;
    padding: 0px 10px;
  }
  
  .navbar .logo img {
    width: 50px;
    height: 60px;
  }
  
  .navbar .menu {
    display: flex;
  }
  
  .navbar .menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 20px;
  }
  
  
  
  .navbar .login-btn,
  .navbar .register-btn {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
  }
  
  .navbar .login-btn:hover,
  .navbar .register-btn:hover {
    background-color: white;
    color: rgb(8, 73, 65);
  }
  
  #uppersection {
  
    height: 650px;
    width: 100%;
    background: url("/static/images/air1.jpg");
    overflow: hidden;
    background-size: cover;
  
  }
  
  
  .rectangle {
    margin-top: 200px;
    position: absolute;
    height: 100px;
    width: 1000px;
    background: rgb(8, 73, 65);
    border-radius: 0 0 0 0;
    clip-path: polygon(0% 0%,
        100% 0%,
        0% 1000%,
        100% 100%,
        0% 100%,
        0% 100%);
  }
  
  .rectangle h1 {
    color: white;
    font-size: 44px;
    margin-top: 20px;
    margin-left: 50px;
  }
  
  .quote {
    margin-top: 320px;
    position: absolute;
  }
  
  .quote h2 {
    font-size: 24px;
    padding-left: 48px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .left-container {
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .left-container h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .left-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .left-container ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .left-container ul li i {
    font-size: 1.5em;
    color: rgb(8, 73, 65);
    margin-right: 10px;
    
  }
  
  .left-container ul li span {
    font-size: 1.2em;
  }
  
  .right-container {
    width: 40%;
  }
  
  .right-container img {
    width: 100%;
    max-width: 500px;
    height: 300px;
  }
  .features h2{
    text-align: center;
    font-size: 40px;
    color: rgb(8, 73, 65);
  }
  
  .card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
  }
  
  .benfits {
    height: 50px;
    margin-top: 50px;
  }
  
  .benfits h2 {
    text-align: center;
    color: rgb(7, 99, 88);
    font-size: 50px;
    margin-top: 10px;
    padding-top: 10px;
  
  }
  
  .card-row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }
  
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 80%;
    /* changed from 300px to 80% */
    height: 270px;
    margin: 40px;
    scroll-snap-align: start;
    background-color: rgb(8, 73, 65);
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 10px;
    text-align: center;
  }
  
  .card-content h2 {
    margin: 0;
    font-size: 1.5em;
    color: white;
  }
  .form-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 2px solid rgb(7, 99, 88);
    margin-bottom: 30px;
  }
  
  .form-container h1 {
    text-align: center;
    color: rgb(7, 99, 88);
    font-size: 50px;
    margin-top: 10px;
    padding-top: 10px;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: rgb(7, 99, 88);
  }
  
  .form-container input,
  .form-container textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(7, 99, 88);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .form-container textarea {
    resize: vertical;
    height: 200px;
  }
  
  .form-container button {
    background-color:transparent;
    color: rgb(7, 99, 88);
    padding: 12px 20px;
    border: 1px solid rgb(7, 99, 88);
    border-radius: 60px  ;
    cursor: pointer;
    width: 100px;
    font-size: 15px;
    font-weight: bold;
  }
  
  .form-container button:hover {
    background-color: rgb(7, 99, 88);
    color: white;
  }
  footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-col {
    flex: 0 0 25%;
    text-align: left;
    margin-left: 30px;
  }
  
  .footer-col h3 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #fff;
    text-transform:uppercase;
  }
  .footer-col p{
    text-align: justify;
  }
  
  .footer-col ul {
  list-style: none;
  padding: 0;
  }
  
  .footer-col li {
  font-size: 14px;
  line-height: 2;
  color: #fff;
  
  }
  
  .footer-col a {
  color: #fff;
  text-decoration: none;
  }
  
  .footer-col a:hover {
  text-decoration: underline;
  }
  
  .social-links {
  display: flex;
  align-items: center;
  margin-top: 20px;
  }
  
  .social-links a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #333;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  margin-right: 10px;
  }
  
  .copyright {
  margin-top: 20px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  }
  
  
  @media (max-width: 1024px) {
    .card-row {
      flex-wrap: wrap;
    }
  
    .card {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    .card {
      width: 100%;
    }
  }
  
  @media (max-width: 600px) {
    .navbar .menu {
      display: none;
    }
  }